/* &============================= Setting  ==============================*/

.wrapper {
	width: 100%;
	min-height: 100vh;

	overflow: hidden;
}

._container {
	width: 100%;
	max-width: var(--container-width);

	margin: 0 auto;
	padding: 0 var(--container-offset);
}

main {
	margin-top: var(--header-height);
}

section {
	padding: 25px 0;
}

/* &===========================================================*/