/* &============================= Setting  ==============================*/

html, body {
	background-color: var(--background-main-color);

	transition: var(--transition-3);
}

.wrapper {
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;

	overflow: hidden;
}

._container {
	width: 100%;
	max-width: var(--container-width);

	margin: 0 auto;
	padding: 0 var(--container-offset);
}

main {
	margin-top: var(--header-height);

	flex: 1 1 auto;
}
.main__form {
	margin-top: 0;
}

section {
	padding: 25px 0;
}

/* &===========================================================*/

.clamp-1 {
	text-overflow: ellipsis;
	
	overflow: hidden;
	white-space: nowrap;
}
.clamp-1-news-page {
	text-overflow: ellipsis;
	
	overflow: hidden;
	white-space: nowrap;

	max-width: 200px !important;
}
.clamp-2 {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}