/* &============================= Variable ==============================*/

:root {
	--main-font: 'Oswald', sans-serif;
	--font-color: #000;
	--font-size: 20px;
	--font-weight: 400;

	--content-width: 1220px;   // * Контент
	--container-offset: 10px;   // * Отступы
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));   // * итоговый контейнер

	// colors setting
    --main-color-white: #ffffff;
    --main-color-black: #000000;
    --main-color-black-active: #1e1e1e;
    --main-color-blue: #1565C0;
    --main-color-link-blue: #0075fb;
    --main-color-link-bg-blue: #93c4fb;
    --main-color-blue-bg: #d6e5f5;
    --main-color-indigo: #283593;
    --main-color-red: #D84315;
    --main-color-blue-bg: #8e9fb3;
    --secondary-color-blue-bg: #5582b6;
    --main-color-link-red: #f66a40;
    --main-color-link-bg-red: #fab9a5;

    --main-color-gray-100: #EEEEEE;
    --main-color-gray-200: #BDBDBD;
    --main-color-gray-300: #9E9E9E;
    --main-color-gray-400: #757575;
    --main-color-gray-500: #424242;
    --main-color-gray-600: #212121;

	--header-height: 100px;
	--slider-btn-size: 50px;

	--transition-1: .1s ease;
	--transition-2: .2s ease;
	--transition-3: .3s ease;
	--transition-4: .6s ease;

	--border-radius: 10px;
	--box-shadow: 0 0 10px;
}

/* &===========================================================*/
/* &=================== Change Theme ===============================*/
[data-theme=dark]{
    --font-main-color: var(--main-color-white);

    --font-secondary-color: var(--main-color-gray-200);
    --font-link-color: var(--main-color-link-red);

	--background-main-color: var(--main-color-gray-600);
	--background-secondary-color: var(--main-color-gray-500);
	--background-active-color: var(--main-color-black-active);

	--block-main-color: var(--main-color-gray-500);
	--block-secondary-color: var(--main-color-gray-400);
	--block-link-color: var(--main-color-link-bg-red);

	--color-accent: var(--main-color-red);

	--theme-rotate: 270deg;
}
[data-theme=light]{
    --font-main-color: var(--main-color-black);

    --font-secondary-color: var(--main-color-gray-500);
	--font-link-color: var(--main-color-link-blue);

	--background-main-color: var(--main-color-blue-bg);
	--background-secondary-color: var(--secondary-color-blue-bg);
	--background-active-color: var(--main-color-gray-400);

	--block-main-color: var(--main-color-gray-100);
	--block-secondary-color: var(--main-color-gray-200);
	--block-link-color: var(--main-color-link-bg-blue);

	--color-accent: var(--main-color-blue);

	--theme-rotate: 0deg;
}
