@charset "UTF-8";
/* &============================= Variable ==============================*/
:root {
  --main-font: "Oswald", sans-serif;
  --font-color: #000;
  --font-size: 20px;
  --font-weight: 400;
  --content-width: 1220px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --main-color-white: #ffffff;
  --main-color-black: #000000;
  --main-color-black-active: #1e1e1e;
  --main-color-blue: #1565C0;
  --main-color-link-blue: #0075fb;
  --main-color-link-bg-blue: #93c4fb;
  --main-color-blue-bg: #d6e5f5;
  --main-color-indigo: #283593;
  --main-color-red: #D84315;
  --main-color-blue-bg: #8e9fb3;
  --secondary-color-blue-bg: #5582b6;
  --main-color-link-red: #f66a40;
  --main-color-link-bg-red: #fab9a5;
  --main-color-gray-100: #EEEEEE;
  --main-color-gray-200: #BDBDBD;
  --main-color-gray-300: #9E9E9E;
  --main-color-gray-400: #757575;
  --main-color-gray-500: #424242;
  --main-color-gray-600: #212121;
  --header-height: 100px;
  --slider-btn-size: 50px;
  --transition-1: .1s ease;
  --transition-2: .2s ease;
  --transition-3: .3s ease;
  --transition-4: .6s ease;
  --border-radius: 10px;
  --box-shadow: 0 0 10px;
}

/* &===========================================================*/
/* &=================== Change Theme ===============================*/
[data-theme=dark] {
  --font-main-color: var(--main-color-white);
  --font-secondary-color: var(--main-color-gray-200);
  --font-link-color: var(--main-color-link-red);
  --background-main-color: var(--main-color-gray-600);
  --background-secondary-color: var(--main-color-gray-500);
  --background-active-color: var(--main-color-black-active);
  --block-main-color: var(--main-color-gray-500);
  --block-secondary-color: var(--main-color-gray-400);
  --block-link-color: var(--main-color-link-bg-red);
  --color-accent: var(--main-color-red);
  --theme-rotate: 270deg;
}

[data-theme=light] {
  --font-main-color: var(--main-color-black);
  --font-secondary-color: var(--main-color-gray-500);
  --font-link-color: var(--main-color-link-blue);
  --background-main-color: var(--main-color-blue-bg);
  --background-secondary-color: var(--secondary-color-blue-bg);
  --background-active-color: var(--main-color-gray-400);
  --block-main-color: var(--main-color-gray-100);
  --block-secondary-color: var(--main-color-gray-200);
  --block-link-color: var(--main-color-link-bg-blue);
  --color-accent: var(--main-color-blue);
  --theme-rotate: 0deg;
}

/* &============================= Zeroing  ==============================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--font-main-color);
  display: inline-block;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1.2;
  font-size: var(--font-size);
  font-family: var(--main-font); /* * Семество шрифтов */
  font-weight: var(--font-weight);
  color: var(--font-main-color);
  scroll-behavior: smooth; /* * Плавная прокрутка по якорям */
}

input, button, textarea {
  font-family: inherit;
}

input, textarea {
  outline: none;
  resize: none;
}

button {
  cursor: pointer;
  color: var(--font-main-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  background-color: transparent;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: var(--font-weight);
}

/* &===========================================================*/
/* &============================= Setting  ==============================*/
html, body {
  background-color: var(--background-main-color);
  transition: var(--transition-3);
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

._container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-offset);
}

main {
  margin-top: var(--header-height);
  flex: 1 1 auto;
}

.main__form {
  margin-top: 0;
}

section {
  padding: 25px 0;
}

/* &===========================================================*/
.clamp-1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.header {
  position: fixed;
  z-index: 100;
  height: var(--header-height);
  width: 100%;
  transition: var(--transition-3);
}
.header._scroll {
  background-color: var(--background-secondary-color);
}
.header__container {
  padding: 20px 50px;
  height: 100%;
  display: grid;
  grid-template: 1fr/auto 1fr auto;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid var(--color-accent);
}
@media (max-width: 1000px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
  }
}
.header__logo {
  position: relative;
  width: 50px;
  height: 50px;
  justify-self: start;
  overflow: hidden;
  cursor: pointer;
}
.header__logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__nav {
  transition: var(--transition-3);
  z-index: 100;
}
@media (max-width: 1000px) {
  .header__nav {
    opacity: 0;
    visibility: hidden;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-accent);
  }
  .header__nav._active {
    opacity: 1;
    visibility: visible;
    top: var(--header-height);
    left: 0;
  }
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.header__list > *:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 1000px) {
  .header__list {
    flex-direction: column;
  }
  .header__list > *:not(:last-child) {
    margin: 0 0 10px 0;
  }
}
.header__item {
  position: relative;
}
.header__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--font-main-color);
  transform: scale(0);
  opacity: 0;
  transition: var(--transition-2);
}
.header__item:hover.header__item::before, .header__item:active.header__item::before {
  transform: scale(1);
  opacity: 1;
}
.header__link {
  padding: 5px 10px;
}

.header__user {
  position: relative;
  background-color: var(--block-main-color);
  border-radius: var(--border-radius);
  padding: 5px;
  transition: var(--transition-3);
}
.header__user:hover {
  background-color: var(--color-accent);
}
.header__user-list {
  position: absolute;
  top: 60px;
  right: -200%;
  border-radius: var(--border-radius);
  background-color: var(--color-accent);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-3);
}
.header__user-list._active {
  right: 0;
  visibility: visible;
  opacity: 1;
}
.header__user-item {
  padding: 5px 15px;
}
.header__user-item > a {
  transition: var(--transition-3);
  padding: 3px;
  border-radius: var(--border-radius);
  width: 100%;
}
.header__user-item > a:hover {
  background-color: var(--font-link-color);
}

.bxs-user {
  font-size: 40px;
  cursor: pointer;
}

.menu-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 100;
  height: 40px;
  width: 45px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-accent);
}
.menu-btn__content {
  position: relative;
  height: 100%;
}
.menu-btn__content > span {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  width: 100%;
  background-color: var(--main-color-black);
  transition: var(--transition-2);
}
.menu-btn__content::before, .menu-btn__content::after {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--main-color-black);
  transition: var(--transition-3);
}
.menu-btn__content::before {
  bottom: 0;
}
.menu-btn__content::after {
  top: 0;
}
.menu-btn__content._active > span {
  width: 0;
  opacity: 0;
  visibility: hidden;
}
.menu-btn__content._active::before {
  top: 50%;
  transform: rotate(45deg);
}
.menu-btn__content._active::after {
  top: 50%;
  transform: rotate(135deg);
}
@media (max-width: 1000px) {
  .menu-btn {
    display: block;
  }
}

.banner-section__top {
  margin-bottom: 20px;
  position: relative;
}
.banner-section__title {
  font-size: 32px;
  font-weight: 700;
}
.banner-section__slider {
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
}
.banner-section__slider-line {
  display: flex;
  height: 650px;
  transition: var(--transition-4);
}
@media (max-width: 700px) {
  .banner-section__slider-line {
    height: 400px;
  }
}
.slider-btn {
  height: var(--slider-btn-size);
  width: var(--slider-btn-size);
  background-color: #000;
  border-radius: var(--border-radius);
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--font-main-color);
  cursor: pointer;
}
.slider-btn__next {
  text-align: center;
}
.slider-btn__next::after {
  content: ">";
  color: var(--block-main-color);
  font-size: 40px;
  font-weight: 700;
  line-height: var(--slider-btn-size)-1px;
  display: block;
}
.slider-btn__prev {
  right: calc(var(--slider-btn-size) + 15px);
  text-align: center;
}
.slider-btn__prev::after {
  content: "<";
  color: var(--block-main-color);
  font-size: 40px;
  font-weight: 700;
  line-height: var(--slider-btn-size)-1px;
  display: block;
}

.slider-item {
  width: 100%;
  position: relative;
}
.slider-item__img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider-item__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-item__info {
  background-color: var(--block-main-color);
  color: var(--font-main-color);
  transition: var(--transition-3);
  max-width: 70%;
  min-width: 40%;
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 30px 20px;
  border-radius: var(--border-radius);
}
.slider-item__info a {
  color: var(--font-link-color);
}
.slider-item__info > *:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 700px) {
  .slider-item__info > *:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 700px) {
  .slider-item__info {
    padding: 10px 10px;
    bottom: 5px;
    left: 5px;
  }
}
.slider-item__info-top {
  display: flex;
  align-items: center;
}
.slider-item__info-top > *:first-child {
  margin: 0 20px 0 10px;
}
.slider-item__category {
  font-weight: 700;
  font-size: 22px;
}
@media (max-width: 700px) {
  .slider-item__category {
    font-size: 18px;
  }
}
.slider-item__date {
  font-style: italic;
  font-size: 16px;
}
@media (max-width: 700px) {
  .slider-item__date {
    font-size: 14px;
  }
}
.slider-item__name {
  text-transform: uppercase;
  font-size: 28px;
}
@media (max-width: 700px) {
  .slider-item__name {
    font-size: 22px;
  }
}
.slider-item__more {
  padding: 5px;
}

.theme-block {
  width: var(--slider-btn-size);
  height: var(--slider-btn-size);
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--color-accent);
  border-radius: 50%;
  transform: rotate(var(--theme-rotate));
  transition: var(--transition-3);
}
.theme-block > input {
  display: none;
}
.theme-block > label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.theme-block > label i {
  font-size: 28px;
}

.news-grid {
  display: grid;
  grid-template: 1fr/75% 25%;
}
@media (max-width: 1000px) {
  .news-grid {
    display: flex;
    flex-direction: column-reverse;
  }
}

.news__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--block-main-color);
  padding: 10px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: 25px;
}
.news__title {
  font-size: 30px;
  text-transform: uppercase;
}
.news__vision-btn-content {
  display: flex;
}
.news__vision-btn {
  background-color: var(--block-secondary-color);
  padding: 5px;
  border-radius: calc(var(--border-radius) / 2);
  font-size: 20px;
  cursor: pointer;
  transition: var(--transition-3);
}
.news__vision-btn._active {
  background-color: var(--background-active-color);
}
.news__vision-btn:first-child {
  margin-right: 10px;
}
.news__vision-btn:hover {
  background-color: var(--background-active-color);
}
@media (max-width: 1000px) {
  .news__vision-btn {
    display: none;
  }
}
.news__row.list-news > *:not(:last-child) {
  margin-bottom: 35px;
}
.news__row.brick-news {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 48%);
  gap: 25px;
}
@media (max-width: 1000px) {
  .news__row.brick-news {
    display: block;
  }
  .news__row.brick-news > *:not(:last-child) {
    margin-bottom: 35px;
  }
}
.news__item {
  background-color: var(--block-main-color);
  border-radius: var(--border-radius);
  padding: 25px 20px;
  box-shadow: var(--box-shadow);
}
.news__item.list-box {
  display: flex;
}
@media (max-width: 1000px) {
  .news__item.list-box {
    display: block;
  }
}
.news__img {
  position: relative;
  width: 100%;
  margin-right: 20px;
  padding-bottom: 30%;
  flex: 0 0 40%;
  border-radius: calc(var(--border-radius) / 2);
  overflow: hidden;
}
@media (max-width: 1000px) {
  .news__img {
    padding-bottom: 40%;
    margin-bottom: 10px;
  }
}
.news__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__info {
  flex: 0 1 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.news__info > *:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 1000px) {
  .news__info > *:not(:last-child) {
    margin-bottom: 10px;
  }
}
.news__category-date {
  display: flex;
  font-size: 16px;
  color: var(--font-secondary-color);
}
.news__date {
  margin-right: 20px;
}
.news__name {
  font-size: 24px;
  text-transform: uppercase;
  max-width: 300px;
}
.news__text {
  max-width: 500px;
  flex: 1 1 auto;
}
.news__more {
  color: var(--font-link-color);
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--block-link-color);
  cursor: pointer;
  transition: var(--transition-3);
}
.news__more:hover {
  opacity: 0.7;
}

.news__single-item {
  background-color: var(--background-secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  margin-bottom: 30px;
}
.news__single-item-img {
  position: relative;
  width: 100%;
  padding-bottom: 48%;
  margin-bottom: 25px;
}
.news__single-item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__single-item-title {
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 20px;
}
.news__single-item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.news__single-item-detail {
  display: flex;
  flex-direction: column;
}
.news__single-item-detail > span:first-child {
  font-size: 18px;
  color: var(--font-secondary-color);
}
.news__single-item-author {
  display: flex;
  flex-direction: column;
}
.news__single-item-user-title {
  margin-bottom: 20px;
}
.news .user-title-1 {
  font-size: 30px;
}
.news .user-title-2 {
  font-size: 24px;
}
.news .user-title-3 {
  font-size: 22px;
}
.news__single-item-link {
  color: var(--font-link-color);
}

.news__filter {
  margin-left: 30px;
}
@media (max-width: 1000px) {
  .news__filter {
    margin: 0 0 30px 0;
  }
}
.news__filter-content > *:not(:last-child) {
  margin-bottom: 25px;
}
.news__filter-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--block-main-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 5px;
}
.news__filter-form input {
  background-color: transparent;
  color: inherit;
  font-size: 24px;
  max-width: 90%;
}
.news__filter-form button {
  color: var(--font-main-color);
}
.news__filter-category {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  position: relative;
}
.news__filter-category-name {
  background-color: var(--block-secondary-color);
  padding: 10px 5px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news__filter-category-list {
  background-color: var(--block-main-color);
  color: var(--font-secondary-color);
}
@media (max-width: 1000px) {
  .news__filter-category-list {
    display: none;
  }
  .news__filter-category-list._active {
    display: block;
  }
}
.news__filter-category-item {
  padding: 5px 10px;
  cursor: pointer;
  transition: var(--transition-3);
}
.news__filter-category-item:hover, .news__filter-category-item:active {
  background-color: var(--font-link-color);
}
.news .news__filter-accordion {
  display: none;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--background-secondary-color);
  transition: var(--transition-3);
}
.news .news__filter-accordion._active {
  transform: rotateX(180deg);
}
@media (max-width: 1000px) {
  .news .news__filter-accordion {
    display: block;
  }
}
.news__filter-tags {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  position: relative;
}
.news__filter-tags-name {
  background-color: var(--block-secondary-color);
  padding: 10px 5px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news__filter-tags-list {
  background-color: var(--block-main-color);
  color: var(--font-secondary-color);
}
@media (max-width: 1000px) {
  .news__filter-tags-list {
    display: none;
  }
  .news__filter-tags-list._active {
    display: block;
  }
}
.news__filter-tags-item {
  padding: 5px 10px;
  cursor: pointer;
  transition: var(--transition-3);
}
.news__filter-tags-item:hover, .news__filter-tags-item:active {
  background-color: var(--font-link-color);
}

.head {
  position: relative;
}
.head__img-bg {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.head__img-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 700px) {
  .head__img-bg {
    display: none;
  }
}
.head__user-block {
  padding: 25px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: var(--block-main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 700px) {
  .head__user-block {
    position: absolute;
    top: 45px;
    left: 20px;
    z-index: 5;
  }
}
.head__img-user {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}
.head__img-user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.head__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.head__user-name {
  font-weight: 700;
}
.head__user-email {
  color: var(--font-secondary-color);
}

.record__button {
  padding: 5px 10px;
  border-radius: var(--border-radius);
  background-color: var(--block-link-color);
  color: var(--font-link-color);
  margin-bottom: 30px;
  transition: var(--transition-3);
}
.record__button:hover {
  opacity: 0.8;
}
@media (min-width: 1000px) {
  .record__grid {
    display: grid;
    align-items: start;
    grid-template: 1fr/1fr 1fr;
    gap: 20px;
  }
}
.record__user-row {
  background-color: var(--block-main-color);
  box-shadow: var(--box-shadow);
  border-radius: calc(var(--border-radius) * 2);
  padding: 20px;
  margin-bottom: 20px;
}
.record__user-title {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
}
.record__user-row-item {
  position: relative;
}
.record__user-row-item:hover .record__user-details-buttons {
  opacity: 1;
  visibility: visible;
  bottom: 10px;
}
.record__user-item {
  display: flex;
  background-color: var(--block-secondary-color);
  border-radius: var(--border-radius);
  padding: 10px;
  margin-bottom: 15px;
}
.record__user-img {
  position: relative;
  width: 100%;
  padding-bottom: 20%;
  margin-right: 20px;
  flex: 0 0 40%;
  border-radius: var(--border-radius);
  background-color: var(--block-main-color);
  overflow: hidden;
}
.record__user-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.record__user-details {
  display: flex;
  flex-direction: column;
  flex: auto;
}
.record__user-details-title {
  font-size: 24px;
}
.record__user-details-text {
  flex: 1 1 auto;
}
.record__user-details-category {
  color: var(--font-secondary-color);
}
.record__user-details-buttons {
  position: absolute;
  right: 15px;
  bottom: -20px;
  opacity: 0;
  visibility: hidden;
  font-size: 0;
  transition: var(--transition-3);
}
.record__user-details-buttons > *:first-child {
  margin-right: 10px;
}
.record__user-details-btn {
  padding: 10px;
  background-color: var(--color-accent);
  border-radius: var(--border-radius);
  transition: var(--transition-3);
  font-size: 20px;
}
.record__user-details-btn:hover {
  opacity: 0.6;
}

.about__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}
.about__info {
  flex: 1 0 60%;
  margin-right: 50px;
}
.about__title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 35px;
}
.about__text {
  line-height: 1.2;
}
.about__img {
  position: relative;
  width: 100%;
  padding-bottom: 20%;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.about__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 700px) {
  .about__img {
    height: 200px;
  }
}
.about__stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
  background-color: var(--block-main-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
.about__stats > *:not(:last-child) {
  margin-right: 15px;
}
@media (max-width: 700px) {
  .about__stats {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    gap: 30px;
  }
}
.about__stats-item {
  display: flex;
  flex-direction: column;
}
.about__stats-item > span:first-child {
  font-size: 24px;
  font-weight: 700;
}

.about__card-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 35px;
}
.about__card-row {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, 48%);
  column-gap: 3%;
  row-gap: 20px;
  padding: 20px;
  background-color: var(--block-main-color);
  box-shadow: var(--box-shadow);
  border-radius: calc(var(--border-radius) * 2);
}
@media (max-width: 700px) {
  .about__card-row {
    display: block;
  }
  .about__card-row > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
.about__card-item {
  background-color: var(--block-secondary-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
}
.about__card-img {
  position: relative;
  width: 100%;
  padding-bottom: 40%;
  overflow: hidden;
  opacity: 0.4;
}
.about__card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  font-weight: 700;
}

.footer {
  border-top: 1px solid var(--color-accent);
  background-color: var(--background-secondary-color);
}
.footer__content {
  width: 100%;
}
.footer__title {
  text-align: center;
  font-weight: 700;
  margin: 10px auto;
}
.footer__row {
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  padding: 20px;
}
.form__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  background-color: var(--block-main-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  min-width: 30%;
  margin: 0 auto;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
}
.form__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.form__item {
  position: relative;
  padding: 0 30px;
  margin-bottom: 30px;
}
.form__item input {
  background-color: transparent;
  border-bottom: 3px solid var(--font-main-color);
  width: 100%;
  padding-left: 35px;
  font-size: inherit;
  color: var(--font-main-color);
}
.form__item i {
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 26px;
}
.form__button {
  padding: 10px;
  margin-bottom: 10px;
  width: 60%;
  background-color: var(--color-accent);
  align-self: center;
  border-radius: var(--border-radius);
  transition: var(--transition-3);
}
.form__button:hover {
  transform: scale(1.1);
}
.form__text {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}
.form__link {
  color: var(--font-link-color);
}/*# sourceMappingURL=main.css.map */