@charset "UTF-8";
/* &============================= Variable ==============================*/
:root {
  --main-font: 'Ubuntu', sans-serif;
  --font-color: #000;
  --font-size: 18px;
  --font-weight: 400;
  --content-width: 1220px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --color-black: #000;
  --color-white: #fff;
  --color-menu: #000;
  --background-menu: rgb(212, 117, 50);
  --color-btn: rgb(202, 89, 8);
  --header-height: 100px;
}

/* &===========================================================*/
/* &============================= Zeroing  ==============================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1.2;
  font-size: var(--font-size);
  font-family: var(--main-font);
  /* * Семество шрифтов */
  font-weight: var(--font-weight);
  color: var(--font-color);
  scroll-behavior: smooth;
  /* * Плавная прокрутка по якорям */
}

input, button, textarea {
  font-family: inherit;
}

input, textarea {
  outline: none;
  resize: none;
}

button {
  cursor: pointer;
  color: var(--font-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  background-color: transparent;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: var(--font-weight);
}

/* &===========================================================*/
/* &============================= Setting  ==============================*/
.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

._container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-offset);
}

/* &===========================================================*/
.header {
  position: relative;
  height: var(--header-height);
}

.header__container {
  padding: 20px 50px;
  height: 100%;
  display: grid;
  grid-template: 1fr / auto 1fr auto;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid var(--color-btn);
}

@media (max-width: 1000px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
  }
}

.header__logo {
  position: relative;
  width: 50px;
  height: 50px;
  justify-self: start;
  overflow: hidden;
}

.header__logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__nav {
  transition: .3s ease;
}

@media (max-width: 1000px) {
  .header__nav {
    opacity: 0;
    visibility: hidden;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-btn);
  }
  .header__nav._active {
    opacity: 1;
    visibility: visible;
    top: var(--header-height);
    left: 0;
  }
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.header__list > *:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 1000px) {
  .header__list {
    flex-direction: column;
  }
  .header__list > *:not(:last-child) {
    margin: 0 0 10px 0;
  }
}

.header__buttons {
  display: flex;
}

.header__buttons > * {
  margin-left: 25px;
}

@media (max-width: 1000px) {
  .header__buttons > * {
    margin-left: 10px;
  }
  .header__buttons > *:first-child {
    margin-left: 0;
  }
}

.button {
  padding: 10px 15px;
  border: 2px solid var(--color-btn);
  border-radius: 10px;
  font-weight: 700;
}

.button_reg a {
  color: var(--color-btn);
}

.button_auth {
  background-color: var(--color-btn);
  border: 2px solid var(--color-btn);
}

@media (max-width: 1000px) {
  .button {
    font-size: 14px;
  }
}

.menu-btn {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 40px;
  width: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--background-menu);
}

.menu-btn__content {
  position: relative;
  height: 100%;
}

.menu-btn__content > span {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  width: 100%;
  background-color: var(--color-menu);
  transition: .2s linear;
}

.menu-btn__content::before, .menu-btn__content::after {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--color-menu);
  transition: .3s linear;
}

.menu-btn__content::before {
  bottom: 0;
}

.menu-btn__content::after {
  top: 0;
}

.menu-btn__content._active > span {
  width: 0;
  opacity: 0;
  visibility: hidden;
}

.menu-btn__content._active::before {
  top: 50%;
  transform: rotate(45deg);
}

.menu-btn__content._active::after {
  top: 50%;
  transform: rotate(135deg);
}

@media (max-width: 1000px) {
  .menu-btn {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */