.footer {

    border-top: 1px solid var(--color-accent);

    background-color: var(--background-secondary-color);

    &__content {
        width: 100%;
    }

    &__title {
        text-align: center;
        font-weight: 700;

        margin: 10px auto;
    }

    &__row {
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
        align-items: center;
        justify-items: center;

        padding: 20px;
    }

    &__tel {
    }

    &__email {
    }

    &__adress {

    }
}
