// * ================ Header ==============
.header {
    position: relative;
    
    height: var(--header-height);

    &__container {
        padding: 20px 50px;

        display: grid;
        grid-template: 1fr / auto 1fr auto;
        align-items: center;
        justify-items: center;

        border-bottom: 1px solid var(--color-btn);

        @media (max-width: 1000px) {
            display: flex;
            justify-content: space-between;

            padding: 10px 10px;
        }
    }

    // * Logo

    &__logo {
        position: relative;

        width: 50px;
        height: 50px;

        justify-self: start;

        overflow: hidden;


        & img {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    // * Navigation

    &__nav {
        @media (max-width: 1000px) {
            display: none;

            flex-direction: column;
            width: 100%;

            position: absolute;


            &._active {
                display: flex;

                top: var(--header-height);
                left: 0;
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        text-align: center;

        & > *:not(:last-child) {
            margin-right: 20px;
        }

        @media (max-width: 1000px) {
            flex-direction: column;

            & > *:not(:last-child) {
                margin: 0 0 10px 0;
            }
        }
    }

    &__item {
    }

    &__link {
    }

    // * Buttons

    &__buttons {
        display: flex;

        & > * {
            margin-left: 25px;
        }

        @media (max-width: 1000px) {
            & > * {
                margin-left: 10px;
            }

            & > *:first-child {
                margin-left: 0;
            }
        }
    }
}

.button {
    padding: 10px 15px;

    border: 2px solid var(--color-btn);
    border-radius: 10px;

    font-weight: 700;

    &_reg {
        & a {
            color: var(--color-btn);
        }
    }

    &_auth {
        background-color: var(--color-btn);
        border: 2px solid var(--color-btn);
    }

    @media (max-width: 1000px) {
        font-size: 14px;
    }
}

// * Menu

.menu-btn {
    display: none;

    position: absolute;
    bottom: 20px;
    left: 20px;

    height: 40px;
    width: 50px;

    padding: 10px;

    border-radius: 5px;

    background-color: var(--background-menu);

    &__content {
        position: relative;

        height: 100%;

        & > span {
            display: block;

            position: absolute;

            top: 50%;
            transform: translateY(-50%);
    
            height: 3px;
            width: 100%;
    
            background-color: var(--color-menu);
        }

        &::before, &::after {
            content: "";

            display: block;

            position: absolute;

            height: 3px;
            width: 100%;

            background-color: var(--color-menu);
        }
        &::before {
            bottom: 0;
        }
        &::after {
            top: 0;
        }
    }


    @media (max-width: 1000px) {
        display: block;
    }
}
