.theme-block {
    width: var(--slider-btn-size);
    height: var(--slider-btn-size);

    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: var(--color-accent);
    border-radius: 50%;

    transform: rotate(var(--theme-rotate));

    transition: var(--transition-3);

    & > input {
        display: none;
    }

    & > label {
        display: block;

        height: 100%;
        width: 100%;

        cursor: pointer;

        position: relative;

        & img {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }
}